<html>
<head>
  <title>Twitter follower spy</title>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" media="all" />
</head>
<body>
  <div class="navbar">
    <a href="/">Major Ursa</a>
  </div>
  <div class=main_content>
    <h1>Welcome Twits!</h1>
      <%= yield %>
  </div>
</body>
</html>
